*{
    font-family: Poppins;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    background-image: url('../../images/bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vw;
}

.record, .write {
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    background-color: #FFF3C5;
    border: 4px solid #21409A;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search_container {
    width: 80%;
    padding: 1% 2%;
    border-radius: 1rem;
}

.buttonImage {
    max-width: 100%;
    height: auto;
}

.search_button {
    background-color: #001348;
    width: 2rem;
    border-radius: 100%;
}

.button_history {
    background-color: #FFD840;
    border: 2px solid #001348;
    margin-bottom: 1rem;
    border-radius: 15px;
    font-size: 16pt;
    height: 5vh;
}
